<footer class="site-footer">

  <div class="wrap">

    <div class="social-links">
      <a href="https://www.linkedin.com/company/ox-yss" target="_blank" rel="noopener noreferrer" title="Find us on LinkedIn">
        <i class="fab fa-linkedin fa-lg"></i>
      </a>
      <a href="https://x.com/OxfordYss" target="_blank" rel="noopener noreferrer" title="Follow us on Twitter">
        <i class="fab fa-x-twitter fa-lg"></i>
      </a>
        <a href="https://www.instagram.com/oxfordyss" target="_blank" rel="noopener noreferrer" title="Follow us on Instagram"
    <i class="fab fa-instagram fa-lg"></i>
  </a>
    </div>

    </div>

</footer>